<!DOCTYPE HTML>

<html>
<head>
    <title>Casamento Daniel e Taynara</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="Confira algumas fotos do Pré Wedding" />


    <meta name="author" content="Daniel Mendes">
    <meta name="Keywords" content="casamento,daniel,taynara,marriage,amor,love,story,história,pr-ewedding" />
    <meta http-equiv="Cache-Control" content="no-cache, no-store" />
    <meta http-equiv="Pragma" content="no-cache, no-store" />
    <meta name="googlebot" content="noodp">
    <meta name="robots" content="index, follow" />
    <link rel="canonical" href="" />


    <meta property="og:type" content="website" />
    <meta property="og:title" content="Casamento do Daniel e da Taynara" />
    <meta property="og:description" content="Confira algumas fotos do Pré Wedding" />
    <meta property="og:url" content="http://www.danieletaynara.com" />
    <meta property="og:image" content="~/images/favicon.png" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:width" content="120" />
    <meta property="og:image:height" content="120" />


    <meta name="twitter:url" content="http://www.danieletaynara.com" />
    <meta name="twitter:title" content="Casamento do Daniel e da Taynara" />
    <meta name="twitter:description" content="Confira algumas fotos do Pré Wedding" />




    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.png">


    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="~/images/favicon.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/favicon.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/favicon.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/favicon.png" />


    <!--[if lte IE 8]><script src="~/Content/assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="~/Content/assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="~/Content/assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="~/Content/assets/css/ie8.css" /><![endif]-->
</head>
<body>

    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Header -->
        <header id="header">
            <h1><a href="~/"><strong>Voltar ao site</strong></a></h1>            
            <nav>
                <ul>
                    <li><a class="icon" >
                        Daniel & Taynara - Pre-Wedding</a></li>                    
                    <li><a href="#footer" class="icon fa-info-circle">Sobre as fotos</a></li>
                </ul>
            </nav>
        </header>
        @RenderBody()
        <footer id="footer" class="panel">
            <div class="inner split">
                <div>
                    <section>
                        <h2>Crédito das fotos</h2>
                        <p>
                            <a href="http://www.instagram.com/detalhesfoto" target="_blank">
                                <img src="~/images/imagem_detalhes.jpg"  title="Detalhes Fotografia" caption="Detalhes Fotografia"/>
                            </a>
                            <ul class="icons">

                                <li><a href="https://www.facebook.com/fotografiadetalhes/" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                                <li><a href="http://www.instagram.com/detalhesfoto" target="_blank" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                            </ul>
                        </p>
                    </section>
                    
                </div>
                <div>
                    
                </div>
            </div>
        </footer>

    </div>

    <!-- Scripts -->
    <script src="~/Content/assets/js/jquery.min.js"></script>
    <script src="~/Content/assets/js/jquery.poptrox.min.js"></script>
    <script src="~/Content/assets/js/skel.min.js"></script>
    <script src="~/Content/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="~/Content/assets/js/main.js"></script>

</body>
</html>       